/*Styling image-slider*/
#slider{
    overflow: hidden;
    border: 2px solid black;
    padding: 0;
    margin: 0px 30px 100px 30px;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    height: 750px;
    width: 20%;
    float: left;
}

@media screen and (max-width: 1024px){
    #slider figure img{
        height: 550px;
        width: 20%;
    }
}

@media screen and (max-width: 740px){
    #slider figure img{
        height: 350px;
        width: 20%;
    }
}

@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%; 
    }
    100%{
        left: -400%;
    }
}
